In [2]:
def calculate_nrr(runs_scored, runs_conceded, overs_played):
    nrr = (runs_scored / overs_played) - (runs_conceded / overs_played)
    return nrr


team_a_runs_scored = 135
team_a_runs_conceded = 137
team_a_overs_played = 90

team_b_runs_scored = 137
team_b_runs_conceded = 135
team_b_overs_played = 86

# Calculate the Net Run Rate for both teams
team_a_nrr = calculate_nrr(
    team_a_runs_scored, team_a_runs_conceded, team_a_overs_played)
team_b_nrr = calculate_nrr(
    team_b_runs_scored, team_b_runs_conceded, team_b_overs_played)

print("Team A NRR:", team_a_nrr)
print("Team B NRR:", team_b_nrr)

Team A NRR: -0.022222222222222143
Team B NRR: 0.023255813953488413

In [6]:
import pandas as pd

# Read in the Excel file
df = pd.read_excel('cricket_scoreEs.xlsx')

# Calculate the NRR for each team
df['NRR'] = (df['Runs Scored'] / df['Overs Faced']) - \
    (df['Runs Conceded'] / df['Overs Bowled'])

# Write back to the Excel file
writer = pd.ExcelWriter('cricket_scores.xlsx')
df.to_excel(writer, index=False)
writer.save()

ModuleNotFoundError: No module named 'pandas'

In [42]:
import pandas as pd

# Replace 'filename.xlsx' with the name of your Excel file
df = pd.read_excel('C:\cricket_scores.xlsx')

# Print the first 5 rows of the data frame
print(df.head())

                Team A  Unnamed: 1
0       matches_played         5.0
1    total_runs_scored      1108.0
2    total_overs_faced        15.0
3  total_runs_conceded      1107.0
4   total_overs_bowled        14.2

In [5]:
import openpyxl
import pandas as pd

# workbook = pd.read_excel('C:\cricket_scores.xlsx')

workbook = openpyxl.load_workbook('C:\cricket_scores.xlsx')

worksheet = workbook.active

# values from the cells TEAM A
matches_played = float(worksheet['B2'].value)
total_runs_scored = float(worksheet['C2'].value)
total_overs_faced = float(worksheet['D2'].value)
total_runs_conceded = float(worksheet['E2'].value)
total_overs_bowled = float(worksheet['F2'].value)
net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G2'] = net_run_rate

# values from the cells TEAM B
matches_played = float(worksheet['B3'].value)
total_runs_scored = float(worksheet['C3'].value)
total_overs_faced = float(worksheet['D3'].value)
total_runs_conceded = float(worksheet['E3'].value)
total_overs_bowled = float(worksheet['F3'].value)

net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G3'] = net_run_rate


matches_played = float(worksheet['B4'].value)
total_runs_scored = float(worksheet['C4'].value)
total_overs_faced = float(worksheet['D4'].value)
total_runs_conceded = float(worksheet['E4'].value)
total_overs_bowled = float(worksheet['F4'].value)

net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G4'] = net_run_rate

matches_played = float(worksheet['B5'].value)
total_runs_scored = float(worksheet['C5'].value)
total_overs_faced = float(worksheet['D5'].value)
total_runs_conceded = float(worksheet['E5'].value)
total_overs_bowled = float(worksheet['F5'].value)

net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)

worksheet['G5'] = net_run_rate


# Save the changes to the workbook
workbook.save('C:\cricket_scores.xlsx')
workbook = pd.read_excel('C:\cricket_scores.xlsx')
print(workbook)

          Team A  matches_played  total_runs_scored  total_overs_faced  \
0  Cloud_hitters               5                140               13.0
1   Data_Deamons               5                140               13.3
2            HBK               7                160               15.0
3             BB               8                200               15.0

   total_runs_conceded  total_overs_bowled  net_run_rate
0                  280                14.0     -9.230769
1                  280                15.0     -8.140351
2                  320                12.2    -15.562842
3                  400                15.0    -13.333333

In [9]:
workbook = pd.read_excel('C:\cricket_scores.xlsx')

In [7]:
workbook

,Team A,matches_played,total_runs_scored,total_overs_faced,total_runs_conceded,total_overs_bowled,net_run_rate
0,Cloud_hitters,5,140,13.0,280,14.0,-9.230769
1,Data_Deamons,5,140,13.3,280,15.0,-8.140351
2,HBK,7,160,15.0,320,12.2,-15.562842
3,BB,8,200,15.0,400,15.0,-13.333333

In [10]:
workbook["net_run_rate"] = (workbook["total_runs_scored"] / workbook["total_overs_faced"]) - \
    (workbook["total_runs_conceded"] / workbook["total_overs_bowled"])

In [11]:
workbook

,Team A,matches_played,total_runs_scored,total_overs_faced,total_runs_conceded,total_overs_bowled,net_run_rate
0,Cloud_hitters,5,140,13.0,280,14.0,-9.230769
1,Data_Deamons,5,140,13.3,280,15.0,-8.140351
2,HBK,7,160,15.0,320,12.2,-15.562842
3,BB,8,200,15.0,400,15.0,-13.333333

In [3]:
import openpyxl
import pandas as pd

# Load the workbook using openpyxl
workbook = openpyxl.load_workbook('C:\cricket_scores.xlsx')

# Select the active worksheet
worksheet = workbook.active

# Access the cell values and calculate net run rate for TEAM A
matches_played = float(worksheet['B2'].value)
total_runs_scored = float(worksheet['C2'].value)
total_overs_faced = float(worksheet['D2'].value)
total_runs_conceded = float(worksheet['E2'].value)
total_overs_bowled = float(worksheet['F2'].value)
net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G2'] = net_run_rate

# Calculate net run rate for TEAM B
matches_played = float(worksheet['B3'].value)
total_runs_scored = float(worksheet['C3'].value)
total_overs_faced = float(worksheet['D3'].value)
total_runs_conceded = float(worksheet['E3'].value)
total_overs_bowled = float(worksheet['F3'].value)
net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G3'] = net_run_rate

# Calculate net run rate for TEAM C
matches_played = float(worksheet['B4'].value)
total_runs_scored = float(worksheet['C4'].value)
total_overs_faced = float(worksheet['D4'].value)
total_runs_conceded = float(worksheet['E4'].value)
total_overs_bowled = float(worksheet['F4'].value)
net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G4'] = net_run_rate

# Calculate net run rate for TEAM D
matches_played = float(worksheet['B5'].value)
total_runs_scored = float(worksheet['C5'].value)
total_overs_faced = float(worksheet['D5'].value)
total_runs_conceded = float(worksheet['E5'].value)
total_overs_bowled = float(worksheet['F5'].value)
net_run_rate = (total_runs_scored / total_overs_faced -
                total_runs_conceded / total_overs_bowled)
worksheet['G5'] = net_run_rate

# Save the changes to the workbook
workbook.save('C:\cricket_scores.xlsx')

# Load the updated workbook using pandas
workbook = pd.read_excel('C:\cricket_scores.xlsx')
print(workbook)

          Team A  matches_played  total_runs_scored  total_overs_faced  \
0  Cloud_hitters               5                140               13.0
1   Data_Deamons               5                140               13.3
2            HBK               7                160               15.0
3             BB               8                200               15.0

   total_runs_conceded  total_overs_bowled  net_run_rate
0                  140                14.0      0.769231
1                  141                15.0      1.126316
2                  161                12.2     -2.530055
3                  187                15.0      0.866667

In [4]:
workbook

,Team A,matches_played,total_runs_scored,total_overs_faced,total_runs_conceded,total_overs_bowled,net_run_rate
0,Cloud_hitters,5,140,13.0,140,14.0,0.769231
1,Data_Deamons,5,140,13.3,141,15.0,1.126316
2,HBK,7,160,15.0,161,12.2,-2.530055
3,BB,8,200,15.0,187,15.0,0.866667

In [ ]:
import openpyxl
import pandas as pd

 

# Load the workbook
workbook = openpyxl.load_workbook('C:\cricket_scores.xlsx')

 

# Get the active worksheet (scoreboard)
worksheet = workbook.active

 

# Calculate and update NRR for each team
for row in range(2, 6):
    matches_played = float(worksheet[f'B{row}'].value)
    total_runs_scored = float(worksheet[f'C{row}'].value)
    total_overs_faced = float(worksheet[f'D{row}'].value)
    total_runs_conceded = float(worksheet[f'E{row}'].value)
    total_overs_bowled = float(worksheet[f'F{row}'].value)
    net_run_rate = (total_runs_scored / total_overs_faced - total_runs_conceded / total_overs_bowled)
    worksheet[f'G{row}'] = net_run_rate

 

# Create a new sheet for NRR
nrr_sheet = workbook.create_sheet(title='NRR')

 

# Copy the NRR data from the scoreboard sheet
for row in range(1, 6):
    for col in range(1, 8):
        nrr_sheet.cell(row=row, column=col).value = worksheet.cell(row=row, column=col).value

 

# Create a new sheet for the points table
points_sheet = workbook.create_sheet(title='Points Table')

 

# Define the headers for the points table
headers = ['Team', 'Matches Played', 'Wins', 'Losses', 'Points']
for col, header in enumerate(headers, start=1):
    points_sheet.cell(row=1, column=col).value = header

 

# Calculate and populate the points table
for row in range(2, 6):
    team = worksheet[f'A{row}'].value
    matches_played = float(worksheet[f'B{row}'].value)
    wins = float(worksheet[f'C{row}'].value)
    losses = float(worksheet[f'D{row}'].value)
    points = wins * 2
    points_sheet.cell(row=row, column=1).value = team
    points_sheet.cell(row=row, column=2).value = matches_played
    points_sheet.cell(row=row, column=3).value = wins
    points_sheet.cell(row=row, column=4).value = losses
    points_sheet.cell(row=row, column=5).value = points

 

# Save the changes to the workbook
workbook.save('C:\cricket_scores.xlsx')